
// scroll bar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:increment,
::-webkit-scrollbar-thumb:decrement {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}